
<br>
<br>

<h2 class = "text-center p-3"><%= @article.title %></h2>

<%= render 'article' %>

<p class = "text-center  text-decoration-none" ><%= link_to '[Create new article]', new_article_path %></p>

