
<br>
<br>
<br>
<br>
<br>
<br>
<div class="px-4 py-5 my-5 text-center text-bg-secondary p-3">
   <p></p>

    <h1 class="display-5 fw-bold mt-4">BLOG APPLICATION</h1>

    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4"></p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <button type="button" class="btn btn-primary btn-lg px-4 gap-3">Sign up!</button>

      </div>
    </div>
  </div>

<%= link_to 'Articles listing', articles_path(@article) %> |
<%= link_to 'About Page', about_path %>